section.section1 {visibility: hidden; position: absolute; width: 600px}

section.section2 {visibility: hidden; position: absolute; width: 600px}

section.section3 {visibility: hidden; position: absolute; width: 600px}